<div class='container px-2 px-sm-0'>
  <div class='row'>
    <% groups.each do |group| %>
      <div class='col-md-3 pb-3'>
        <div class='card mb-2 h-100'>
          <%= image_tag group.get_group_image(300,200), class: "rounded-groups card-img-top mx-auto mt-2 d-block" %>
          <div class='card-body'>
            <h5 class='card-title'><%= link_to group.name, group_path(group) %></h5>
            <p class='card-text-groups'><%= group.introduction %></p>
            <p class='card-text'>
              <i class="fa-solid fa-users"></i><%= group.group_users.count %>
              <% if group.is_owned_by?(current_user) %>
                <%= link_to edit_group_path(group), class: "group_#{group.id} btn btn-sm btn-info" do %>
                  <i class='fa-solid fa-gear'></i>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>