<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="heading-sub mt-3">グループ作成</h2>
      <%= render 'layouts/error_messages', resource: @group %>
        <%= form_with model: @group, local: true do |f| %>
          <div class="form-group">
            <%= f.label :グループ名, class: "label" %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        
          <div class="form-group">
            <%= f.label :紹介文, class: "label" %>
            <%= f.text_area :introduction, class: 'form-control' %>
          </div>
        
          <div class="form-group">
            <%= f.label :グループ画像, class: "label" %>
            <%= f.file_field :group_image, class: "form-control-file" , accept: "image/*" %>
          </div>
        
          <div class="form-group">
            <%= f.submit class: 'btn btn-secondary' %>
          </div>
        <% end %>
    </div>
  </div>
</div>