<h1>post.show.page</h1>
<p><%= @post.title %></p>
<p><%= @post.body %></p>
<p><%= @post.phase_i18n %></p>
<p><%= @post.way %></p>
<p><%= @post.investment %></p>
<% if current_user == @user %>
  <%= link_to "投稿内容の編集", edit_post_path(@post), class: "btn btn-success" %>
  <%= link_to "投稿の削除", edit_post_path(@post), class: "btn btn-success" %>
<% end %>
