<h2 class="heading-sub mt-3">管理者ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>



<form>
	<div class="inputs">
		<label class="label">お名前</label>
		<input class="input_form" type="text" name="name">
	</div>
　　　　 <div class="inputs">
		<label class="label">年齢</label>
		<input class="input_form" type="number" name="age">
	</div>
	<div class="inputs">
		 <label class="label">メールアドレス</label>
		 <input class="input_form" type="email" name="email">
	</div>
	<div class="inputs">
		 <label class="label">お問い合わせ内容</label>
		 <textarea class="input_form"></textarea>
	</div>
	<div class="btn-area">
		<input type="reset" value="リセット"><input type="submit" value="送信">
	</div>
</form>



     
 
          <%= f.text_area :body, placeholder: "例）社内年間優秀賞受賞、県大会１位、模試学年１位", class: "form-control", id: "post_body" %>
       
    		 <input class="form-control" type="email" name="email">

        <div class="form-group">
          <label class="label" for="post_body">成果の詳細</label>
          <%= f.text_area :body, placeholder: "例）社内年間優秀賞受賞、県大会１位、模試学年１位", class: "form-control", id: "post_body" %>
        </div>
        
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
