<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= image_tag asset_path('top1.jpg'), alt: '' %>
      <p class="slide-text">Welcome to Rule Of Three</p>
    </div>
                    
    <div class="swiper-slide">
      <%= image_tag asset_path('top2.jpg'), alt: '' %>
      <p class="slide-text">当サイトは、成功体験を投稿・共有できるサイトです<br>
        年代を問わずご利用いただけます</p>
    </div>
    <div class="swiper-slide">
      <%= image_tag asset_path('top3.jpg'), alt: '' %>
      <p class="slide-text">仕事や趣味での成果不足や新しいスキル習得の際に<br>
        ぜひご活用ください</p>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<div class="btn-section p-1 d-flex justify-content-center">
  <div class="about-btn">
    <%= link_to "About", about_path %>
  </div>
  <div class="about-btn">
    <%= link_to "会員登録", new_user_registration_path %>
  </div>
  <div class="about-btn">
    <%= link_to "ログイン", new_user_session_path %>
  </div>
</div>

<%= javascript_pack_tag 'top', 'data-turbolinks-track': 'reload' %>
