<div class="container mt-5">
  <h3>グループ一覧</h3>
  <div class="table-responsive">
    <table class="table mt-3">
      <tr>
        <th class="col-2">グループ名</th>
        <th class="col-8">紹介文</th>
        <th class="col-1"></th>
        <th class="col-1"></th>
      </tr>
      <% @groups.each do |group| %>
        <tr>
          <td class="col-2">
            <% if group.group_image.attached? %>
              <%= image_tag group.group_image,size:"50x50" %>
            <% else %>
              <%= image_tag 'no_image', size: "50x50" %>
            <% end %>
          </td>
          <td class="col-2"><%= group.name %></td>
          <td class="col-8"><%= group.introduction %></td>
          <td class="col-1">
          <%= link_to '削除', admin_group_path(group), method: :delete, data: { confirm: '本当に削除しますか?' },class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>