<h1>mypage.view</h1>

<p>
  <%= link_to new_post_path,class: 'button-primary' do %>
    <i class="fa-solid fa-layer-group"></i>新規投稿
  <% end %>
</p>

<h1>あなたの投稿</h1>
<% @posts.each do |post| %>
  <div><%= link_to post.title, post_path(post.id) %></div>
  <duv><%= post.body %></div>
<% end %>

<h1>登録情報</h1>
<%= @user.name %>
<%= @user.email %>
<%= link_to "会員情報の編集", edit_user_path(@user.id), class: "btn btn-success" %>